In [9]:
import pandas as pd

In [10]:
import numpy as np

In [15]:
df = pd.read_excel("/content/Healthcare Final.xlsx", sheet_name="Sheet1")

In [16]:
df.columns

Index(['Visit_ID', 'Date', 'Patient_ID', 'Patient_Name', 'Gender', 'Age',
       'City', 'State', 'Department', 'Doctor', 'Diagnosis_Code', 'Treatment',
       'Visit_Type', 'Bill_Amount', 'Payment_Mode', 'z5f', 'Length_of_Stay',
       'Followup_Days', 'Age_Group ', 'Bill_Category  ', 'Stay_Status ',
       'Visit_Type.1', 'Average Bill Amount ', 'Count Insurance',
       'maximum bill amount ', 'Gender.1', 'Number of Female Patients '],
      dtype='object')

In [42]:
Bill_amounts = df['Bill_Amount'].dropna()
print(Bill_amounts)

0         124.49
1       15686.56
2        8996.71
3        1348.96
4       15975.72
          ...
2995     1111.17
2996      353.43
2997     1081.48
2998    13497.77
2999     6892.86
Name: Bill_Amount, Length: 3000, dtype: float64

In [44]:
Mean_bill = np.mean(Bill_amounts)
print(Mean_bill)

6709.752603333334

In [45]:
Median_bill = np.median(Bill_amounts)
print(Median_bill)

5831.865

In [46]:
Mode_bill = Bill_amounts.mode()[0]
print(Mode_bill)

457.57

In [47]:
Variance_bill = np.var(Bill_amounts)
print(Variance_bill)

29624643.04478741

In [48]:
Std_bill = np.std(Bill_amounts)
print(Std_bill)

5442.852473178693

In [49]:
Corr_age_bill = np.corrcoef(df['Age'], df['Bill_Amount'])[0,1]
print(Corr_age_bill)

0.0049465114527729465

In [50]:
Q1 = np.percentile(Bill_amounts, 25)
Q3 = np.percentile(Bill_amounts, 75)
IQR = Q3 - Q1
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
Outliers = df[(df['Bill_Amount'] < lower_limit) | (df['Bill_Amount'] > upper_limit)]
print(Outliers)

       Visit_ID       Date Patient_ID      Patient_Name  Gender   Age  \
80    VIS200257 2024-08-02    PAT6144         Aarav Das    Male  50.0
228   VIS202390 2024-08-05    PAT6034       Arjun Patel    Male  44.0
232   VIS201575 2024-08-29    PAT5954       Arjun Reddy    Male  37.0
298   VIS202594 2024-06-06    PAT6865       Anil Sharma    Male  63.0
303   VIS200430 2024-02-01    PAT6298      Vishal Nagar  Female  42.0
...         ...        ...        ...               ...     ...   ...
2784  VIS202766 2024-05-22    PAT5267      Ananya Singh    Male  53.0
2904  VIS202039 2024-10-28    PAT6144    Aishwarya Jose    Male  30.0
2926  VIS201683 2025-03-11    PAT6120  Sangeetha Sharma    Male  28.0
2982  VIS200956 2024-09-26    PAT5772   Sangeetha Nagar    Male  17.0
2984  VIS202395 2024-06-29    PAT5309        Rahul Nair    Male  20.0

            City          State        Department        Doctor  ...  \
80     Bengaluru      Karnataka        Pediatrics       Dr. Anu  ...
228       Trichy     Tamil Nadu        Psychiatry     Dr. Leela  ...
232   Coimbatore     Tamil Nadu        Pediatrics      Dr. Suri  ...
298         Pune    Maharashtra        Cardiology  Dr. Shailesh  ...
303       Mumbai    Maharashtra        Psychiatry     Dr. Surya  ...
...          ...            ...               ...           ...  ...
2784       Delhi          Delhi        Gynecology     Dr. Sneha  ...
2904     Lucknow  Uttar Pradesh        Psychiatry     Dr. Leela  ...
2926   Hyderabad      Telangana        Cardiology    Dr. Nikhil  ...
2982     Kolkata    West Bengal       Orthopedics    Dr. Ramesh  ...
2984  Coimbatore     Tamil Nadu  General Medicine      Dr. Ravi  ...

     Followup_Days   Age_Group  Bill_Category    Stay_Status  Visit_Type.1  \
80            30.0  Middle-Aged            High    Short Days          NaN
228            NaN  Middle-Aged            High    Short Days          NaN
232            NaN        Adult            High    Short Days          NaN
298           90.0       Senior            High    Short Days          NaN
303           30.0  Middle-Aged            High    Short Days          NaN
...            ...          ...             ...           ...          ...
2784          90.0  Middle-Aged            High    Short Days          NaN
2904          30.0        Adult            High    Short Days          NaN
2926           NaN        Adult            High    Short Days          NaN
2982          30.0        Child            High    Short Days          NaN
2984          30.0        Adult            High    Short Days          NaN

     Average Bill Amount   Count Insurance  maximum bill amount  Gender.1  \
80                    NaN              NaN                   NaN      NaN
228                   NaN              NaN                   NaN      NaN
232                   NaN              NaN                   NaN      NaN
298                   NaN              NaN                   NaN      NaN
303                   NaN              NaN                   NaN      NaN
...                   ...              ...                   ...      ...
2784                  NaN              NaN                   NaN      NaN
2904                  NaN              NaN                   NaN      NaN
2926                  NaN              NaN                   NaN      NaN
2982                  NaN              NaN                   NaN      NaN
2984                  NaN              NaN                   NaN      NaN

     Number of Female Patients
80                          NaN
228                         NaN
232                         NaN
298                         NaN
303                         NaN
...                         ...
2784                        NaN
2904                        NaN
2926                        NaN
2982                        NaN
2984                        NaN

[98 rows x 27 columns]

In [51]:
lower_bound = Mean_bill - 2 * Std_bill
upper_bound = Mean_bill + 2 * Std_bill
Within_95 = df[(df['Bill_Amount'] >= lower_bound) & (df['Bill_Amount'] <= upper_bound)]
print(Within_95)

       Visit_ID       Date Patient_ID    Patient_Name  Gender   Age  \
0     VIS201537 2025-03-26    PAT6581   Karthik Patel    Male  25.0
1     VIS201134 2025-04-27    PAT5010    Aarav Mishra  Female  25.0
2     VIS202688 2025-03-04    PAT6047    Priya Sharma    Male  40.0
3     VIS201831 2024-08-19    PAT6827     Rohan Reddy  Female  24.0
4     VIS200543 2025-06-25    PAT6391     Neha Mishra  Female  35.0
...         ...        ...        ...             ...     ...   ...
2995  VIS202104 2024-04-28    PAT6091       Kavya Das    Male  38.0
2996  VIS200501 2024-02-14    PAT5072  Siddharth Jose  Female  33.0
2997  VIS202686 2024-06-28    PAT5522    Vishal Gupta   Other  46.0
2998  VIS200348 2024-07-03    PAT5237       Kavya Das  Female  46.0
2999  VIS200382 2025-07-08    PAT5857    Rohan Sharma  Female  58.0

           City          State        Department       Doctor  ...  \
0       Kolkata    West Bengal        Cardiology   Dr. Nikhil  ...
1       Kolkata    West Bengal        Cardiology   Dr. Nikhil  ...
2     Ahmedabad        Gujarat        Pediatrics     Dr. Suri  ...
3          Pune    Maharashtra       Orthopedics   Dr. Ramesh  ...
4       Kolkata    West Bengal     Ophthalmology  Dr. Pallavi  ...
...         ...            ...               ...          ...  ...
2995     Jaipur      Rajasthan       Orthopedics   Dr. Ramesh  ...
2996    Lucknow  Uttar Pradesh       Orthopedics   Dr. Ramesh  ...
2997     Mumbai    Maharashtra        Gynecology    Dr. Sneha  ...
2998      Delhi          Delhi  General Medicine  Dr. Karthik  ...
2999     Jaipur      Rajasthan               ENT    Dr. Kusum  ...

     Followup_Days   Age_Group  Bill_Category    Stay_Status   \
0             14.0        Adult             Low    Short Days
1             14.0        Adult            High    Short Days
2              NaN        Adult          Medium    Short Days
3             30.0        Adult             Low    Short Days
4             90.0        Adult            High    Short Days
...            ...          ...             ...           ...
2995          14.0        Adult             Low    Short Days
2996          30.0        Adult             Low    Short Days
2997           NaN  Middle-Aged             Low    Short Days
2998          90.0  Middle-Aged            High    Short Days
2999          30.0  Middle-Aged          Medium    Short Days

          Visit_Type.1 Average Bill Amount   Count Insurance  \
0                  NaN                  NaN              NaN
1                  OPD          4973.816867            592.0
2            Emergency         10200.642227              NaN
3     Teleconsultation          9838.542407              NaN
4                  IPD          9724.714424              NaN
...                ...                  ...              ...
2995               NaN                  NaN              NaN
2996               NaN                  NaN              NaN
2997               NaN                  NaN              NaN
2998               NaN                  NaN              NaN
2999               NaN                  NaN              NaN

      maximum bill amount  Gender.1 Number of Female Patients
0                      NaN      NaN                        NaN
1                 45628.09   Female                      137.0
2                      NaN     Male                      145.0
3                      NaN      NaN                        NaN
4                      NaN      NaN                        NaN
...                    ...      ...                        ...
2995                   NaN      NaN                        NaN
2996                   NaN      NaN                        NaN
2997                   NaN      NaN                        NaN
2998                   NaN      NaN                        NaN
2999                   NaN      NaN                        NaN

[2854 rows x 27 columns]